@import url('"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap"');

:root{
    /* definindo variaveis para as cores do projeto*/
    --primaria: #90ee90;
    --urgente: #00bfff;
    --nao_urgente:#67bc67  ;
    --cinza:#27262680;
    --luz:#a6efa6;
    --escuro:#0b0b0ce2;
    --perigo:#ff5b57;
    --fundo:#F0F8FF;
    --botoes:#47ad47d2;

    --sombra: 0 1px 3px rgba(0, 0, 0, 0.1);

    --urgente-brilho: 0px 0px 4px rgb(0, 191, 255, 0.75);
    --nao_urgente-brilho: 0px 0px 4px  rgba(145, 242, 145, 0.908);
}

body {/*Definindo margens e as fontes */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--luz);
}
.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: var(--cinza);
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}
.formLogin input:focus {
    border: 1px solid var(--botoes);
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color:var(--cinza);
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: var(--nao_urgente);
}
.btn {
    background-color: var(--botoes);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--luz);

}
